<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./pics/favicon.PNG" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700">
    <title>Starboard Employees</title>
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-data-table :headers="headers" :items="employees" sort-by="calories" class="elevation-1">
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Starboard Employees</v-toolbar-title>
                        <v-divider class="mx-4" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="900px">
                            <template v-slot:activator="{ on }">
                                <v-btn color="primary" dark class="mb-2" v-on="on" @click="createNewItem">New Employee
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card>
                                    <v-container>
                                        <v-row>
                                            <v-row class="centered">
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-subheader>
                                                        Id
                                                    </v-subheader>
                                                    <v-text-field v-model="editedItem.Id">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-subheader>
                                                        First Name
                                                    </v-subheader>
                                                    <v-text-field v-model="editedItem.FirstName">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-subheader>
                                                        Middle Initial
                                                    </v-subheader>
                                                    <v-text-field v-model="editedItem.MiddleInitial">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-subheader>
                                                        Last Name
                                                    </v-subheader>
                                                    <v-text-field v-model="editedItem.LastName">
                                                    </v-text-field>
                                                </v-col>
                                            </v-row>

                                            <v-col cols="12" sm="12" md="12">
                                                <v-subheader>
                                                    Date Of Birth
                                                </v-subheader>
                                                <template>
                                                    <v-menu ref="menu" v-model="menu" :close-on-content-click="false"
                                                        transition="scale-transition" offset-y min-width="290px">
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field v-model="date" prepend-icon="mdi-calendar"
                                                                readonly v-bind="attrs" v-on="on"></v-text-field>
                                                        </template>
                                                        <v-date-picker ref="picker" v-model="date"
                                                            :max="new Date().toISOString().substr(0, 10)"
                                                            min="1950-01-01" @change="createNewDateOfBirth">
                                                        </v-date-picker>
                                                    </v-menu>
                                                </template>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="12">
                                                <v-subheader>
                                                    Date Of Employment
                                                </v-subheader>
                                                <template>
                                                    <v-menu ref="menu" v-model="menu2" :close-on-content-click="false"
                                                        transition="scale-transition" offset-y min-width="290px">
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field v-model="date2" prepend-icon="mdi-calendar"
                                                                readonly v-bind="attrs" v-on="on"></v-text-field>
                                                        </template>
                                                        <v-date-picker ref="picker" v-model="date2"
                                                            :max="new Date().toISOString().substr(0, 10)"
                                                            min="1950-01-01" @change="createNewEmploymentDate">
                                                        </v-date-picker>
                                                    </v-menu>
                                                </template>
                                            </v-col>

                                            <v-col cols="12" sm="12" md="12">
                                                <v-subheader>
                                                    Active
                                                </v-subheader>
                                                <template>
                                                    <v-container fluid>
                                                        <v-row align="center">
                                                            <v-col cols="12">
                                                                <v-select :items="active" v-model="editedItem.Status"
                                                                    label="Outlined style" dense outlined></v-select>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </template>
                                                <!-- <v-select :items="active" persistent-hint return-object single-line
                                                    v-model="editedItem.Status"></v-select> -->
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                    <v-btn color="blue darken-1" text @click="save">Save Edit</v-btn>
                                    <v-btn color="blue darken-1" text @click="createNewEmployee">Add New User</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        edit
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        delete
                    </v-icon>
                </template>
                <template v-slot:no-data>
                    <v-btn color="primary" @click="initialize">Reset</v-btn>
                </template>
            </v-data-table>
        </v-app>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/24fc242ce0.js"></script>
<script src="./js/index.js"></script>

</html>